version: "3.9"

services:
  db:
    image: postgres:18-alpine
    container_name: qa_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - qa_pg_data:/var/lib/postgresql/data

volumes:
  qa_pg_data:
